<div class="row m-1">
    <div class="col-sm-6">
        <div>
            <ul class="form-group">
                <li class="form-control" *ngFor="let user of users">
                    <a [routerLink]="['/users', user.id, user.name]">{{ user.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <router-outlet></router-outlet>
        <!-- <a routerLink='users'>Reload This Page!!!</a>
        <a routerLink='/users'>Reload This Page!!!</a>
        <a routerLink='../users'>Reload This Page!!!</a>
        <app-user></app-user> -->
    </div>
</div>