<div class="container mt-5 border rounded border-primary ">
    <div class="row mt-2 mb-2 ">
        <div class="col-12">
            <h2 class="text-center font-weight-bold"><u>New Account Registration</u></h2>
        </div>
    </div>
    <div class="row border mr-2 m-2 rounded border-primary">
        <div class="col-12 ">
            <div class="form-group">
                <div>
                    <label for="accountName">Account Name</label>
                    <input class="form-control" type="text" id="accountName" #accountName>
                </div>
                <div>
                    <label for="accountStatus">Account Status</label>
                    <input class="form-control" type="text" id="accountStatus" #accountStatus>
                </div>
                <button  class="mt-3 btn btn-dark" type="submit" (click)="addNewAccount(accountName,accountStatus)">Add
                    Account</button>
            </div>
        </div>
    </div>
</div>