<div class="row m-1">
    <div class="col-sm-12">
        <h1>Welcome to Server Manager 4.0</h1>
        <p>Manage your Servers and Users</p>
        <button class="btn btn-primary" (click)="loadServers()">Load Servers !!!</button>
        <button class="btn btn-primary" (click)="loadServer(1)">Load Server 1 !!!</button>
        <hr>
        <button class="btn btn-secondary" (click)="login()">Login</button>
        <button class="btn btn-secondary" (click)="logout()">Logout</button>


    </div>
</div>